node_modules/
dist/
/.env
.env.local
.env.*.local
.vite/
.cache/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
build/
/.parcel-cache/
.serverless/
.turbo/
*.local
/.idea/
/.vscode/
public/build/
/.history/